body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.blue {
    background-color: #2196f3;
}

.red {
    background-color: #f44336;
}

.green {
    background-color: #4caf50;
}

.pink {
    background-color: #e91e63;
}

.yellow {
    background-color: #8e44ad; /* Color diferente para "Admin asigna Hero" */
}

.top-left-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #0a0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}