.comic-panel {
  --g: 6px; 

  display: grid;
  width: 100%; 
  overflow: hidden;
  height:720px;
  
  grid: auto-flow 2fr / repeat(6, 1fr);
  gap: var(--g);
  
}


.panel {
  border: 4px solid black;
  background-color: #f0f0f0;
}
.speech{
  background-color:#fff;
  border:solid 0.2em #000;
  border-radius:0.75em;
  display:inline-block;
  margin:.5em;
  padding:1.1em 2.2em;
  position:relative;
  box-shadow:0 6px 6px -6px #000;
}

#panel1 {
  background-color: #19b911; 
  grid-column-end: span 2;
  grid-row-end: span 1;
  --stop1: 0.005rem;
  --stop2: 0.25rem;
  filter: contrast(50);
}
#panel1::after{
  /* Cover our element */
  content: '';
  position: absolute;
  inset: 0;
 
  /* Dotted background */
  background-image: radial-gradient(
   circle at center,
   rgba(21, 21, 14, 0.837) var(--stop1),
   transparent var(--stop2)
 );
  background-size: 1.2rem 1.2rem;
  background-position: 0.8rem 1rem, 0 0;
  mask-image: linear-gradient(rgba(0, 4, 7, 0.995), rgba(10, 18, 10, 0.167));
   
 }
#panel1 .title{

  max-width: 800px;
  /* give ample whitespace around and inside of the container */
  margin: 2rem 0;
  padding: 0.6rem 0.7rem;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}


#panel2 {

  background-color: rgb(246, 28, 28);
  grid-area: 1 / 3 / span 3 / span 4;
  background-image:radial-gradient(ellipse, rgb(254, 8, 61), rgb(116, 19, 8));
}
#panel2 .p2text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:6px 13px;
  overflow:hidden;
}
#panel2 .top-left {
  right:0;
  position:absolute;
  transform:skew(5deg);
}
#panel2 #imagemask{
  z-index: 1;
  position: relative;
  width:35%;
  height:65%;
  left: 33.5%; 
  top: 0%; 
}
#p2sp1{
  position: relative;
  z-index: 10;
  left:1.5%;
  top:-2%;
}
#p2sp2{
  position: relative;
  z-index: 10;
  left:1.5%;
  top:-2%;
  
}
#panel2 #imagecity{
  position: relative;
  width:40%;
  height:30%;
  left: 24%; 
  top: -2%; 
}

#panel3 {
  grid-area: 2 / 1 / span 4 / span 3;
  overflow:hidden;
  background-image:radial-gradient(circle, yellow, orange);
  overflow: hidden;
  
}

#panel3 .p3text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:6px 13px;
  overflow:hidden;
}
#panel3 .top-left {
  left:-0.375em;
  position:absolute;
  transform:skew(-15deg);
}


#panel3 #imagegirl{
  position: relative;
  width:45%;
  height:65%;
  left: 2%; 
  top: 6.5%; 
}
#panel3 #imagewow{
  position: relative;
  width:55%;
  height:55%;
  left: -35%; 
  top: -20%; 
}
#sp1{
  left:5%;
  top:-40%;
}
#sp2{
  left:51%;
  top:-60%;
}



#panel4 {
  background-color: #5257e7; /* Green */
  grid-row-end:span 2;  
  background: url('data:image/svg+xml;utf8,<svg width="90" height="90" transform="rotate(90)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="10.5"/><circle cx="75" cy="75" r="10.5"/><circle cx="75" cy="25" r="10.5"/><circle cx="25" cy="75" r="10.5"/></g></svg>'),
  #5257e7; 
}
#panel4 #imagehs{
  position: relative;
  width:55%;
  height:55%;
  left: 25%; 
  top: 25%; 
}
#panel5 {
  background-color: #e3e3e8; /* Green */
  grid-row-end:span 2; 
  grid-column-end:span 2;  
  overflow: visible;
  object-fit: fill; 
}
#panel5 img {
  position: relative;
  width:135%;
  height: auto;
  left: -19%; 
  top: -75%; 
}
.text-block {
  position: absolute;
  bottom: 22%;
  right: 11%;
  background-color: rgb(251,203,28);
  color: white;
  padding-left: 3%;
  padding-right: 3%;
}


